@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.topbar {
  position: sticky;
  top: 0px;
  z-index: 49;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #4b79e4;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #2584f8;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

@layer base {
  [data-theme="light"] {
    --color-bgColor: rgb(227 227 227);
    --color-primary: rgb(255 255 255);
    --color-secondary: rgb(255 255 255);
    --color-ascent1: rgb(0 0 0);
    --color-ascent2: rgb(89 91 100);
    --color-blue: rgb(6 90 216);
    --color-white: rgb(255 255 255);
  }
  [data-theme="dark"] {
    --color-bgColor: rgb(12 12 12);
    --color-primary: rgb(31 31 31);
    --color-secondary: rgb(47 45 48);
    --color-ascent1: rgb(255 255 255);
    --color-ascent2: rgb(164 161 162);
    --color-blue: rgb(6 90 216);
    --color-white: rgb(255 255 255);
  }
}

/* Background colors */
.bg-bgColor {
  background-color: var(--color-bgColor);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/* Text colors */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-ascent-1 {
  color: var(--color-ascent1);
}

.text-ascent-2 {
  color: var(--color-ascent2);
}

/* Borders */
.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.follow-button {
  background-color: var(--color-ascent1);
  color: var(--color-primary);
}

.unfollow-button {
  border: 1px var(--color-ascent2) solid;
  color: var(--color-ascent1);
}

.unfollow-button:hover {
  background-color: var(--color-ascent1);
  color: var(--color-secondary);
  transition: 0.25s ease-in-out;
}

.error-text {
  @apply text-red-500 text-xs ml-0.5 font-medium;
}

@layer base {
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.text-slate-500 {
  color: slate;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
